.progression-popup(ng-hide='getHidden()')
  .popup
    a.close(href='', ng-click='hide()') X
    .content
      h4 {{getTitle()}}
      .start(ng-show='isStart()')
        button(ng-click='setCompleted()') Start
      .progressing(ng-show='getProgressing() && !getCompleted() && !isStart()')
        .default(ng-hide='addingNote()')
          .dates
            .date Proposed Task Duration: 
              strong {{getEstDays()}}
            .date Estimated End Date: 
              strong {{getDate() | date:'mediumDate'}}
          div(ng-repeat='note in getNotes()') {{note.text}}
          button(ng-click='addNote()') Add Note
          button(ng-click='setCompleted()') Mark as Completed
        .note-add(ng-show='addingNote()')
          textarea(ng-model='note')
          button(ng-click='doAddNote()') OK
          button(ng-click='cancelAddNote()') Cancel
      .completed(ng-show='getCompleted()')
        h5 Completed: {{getCompletedTime() | date:'mediumDate'}}, {{getCompletedTime() | date:'shortTime'}}
      .awaiting(ng-show='!getCompleted() && !getProgressing() && !isStart()')
        .dates
          .date Proposed Task Duration: 
            strong {{getEstDays()}}
          .date Estimated End Date: 
            strong {{getDate() | date:'mediumDate'}}
        button(ng-click='setDate()') {{getDate() ? 'Change' : 'Set'}} Estimated Completion Date
        button(ng-click='setProgressing()', ng-show='getDate()') Start
    .editor
      label
        span Title
        input(type='text', ng-model='getData().title')
      label
        span Est no days
        input(type='number', ng-model='getData().estDays')
      h4 Icon
      .icons
        .milestone(ng-repeat='icon in icons', ng-click='getData().icon = icon')
          .icon(class='{{icon}}')
      h4 Todos
      .todo(ng-repeat='todo in getData().todos') {{todo.text}}
        .controls
          a(href='', ng-click='getData().todos.moveUp(todo)') &#9650;
          a(href='', ng-click='getData().todos.moveDown(todo)') &#9660;
          a(href='', ng-click='getData().todos.remove(todo)') X
      form(ng-submit='getData().todos.push({text:todo});todo=""')
        input(type='text', ng-model='todo')
        input(type='submit', value='Add todo')
  .pointer