.setup
  h1 setup
  h2 Invite user
  .add-user
    form(name='addUserForm', ng-submit='addUser()')
      input(type='email', ng-model='newUser.email', placeholder='Email address')
      select(ng-model='newUser.role')
        option(value='agency', selected) Agency
        option(value='admin') Admin
      input(type='submit', value='Invite')
    .invite-error {{inviteError}}
    .invite-url {{inviteUrl}}
    h2 Progressions
    progression(ng-repeat='progression in getProgressions()', data='progression')
    button.add-progression(ng-click='addProgression()') Add Progression
    