.header
  .container
    .branding
      a.logo(href="/")
        img.logo(src="public/img/VitalSpaceLogo-2016.svg")
    nav.main-menu.mobile-hide(ng-show='auth.getUser()')
      ul.menu
        li(ng-class="{selected:state('dashboard')}")
          a(href='/')
            span Dashboard
        li(ng-class="{selected:state(['cases', 'case'])}")
          a(ui-sref='cases')
            span Cases
        li(ng-class="{selected:state('setup')}", ng-show="auth.checkRoles(['admin', 'superadmin'])")
          a(ui-sref='setup')
            span Setup
        li(ng-class="{selected:state('setup')}", ng-show="auth.checkRoles('agency')")
          a(ui-sref='setup')
            span Test
    .user.mobile-hide
      a(href='/api/logout', target='_self') {{auth.getUser().displayName || auth.getUser().local.email}} 
        img.logo(src="public/img/icons/logout.svg")
    button#click-me.lines-button.x2.desktop-hide(type='button', role='button', aria-label='Toggle Navigation', ng-show='auth.getUser()', ng-click='toggle(); hide();')
      span.lines
    