.header
  .container
    .branding
      a.logo(href="/")
        img.logo(src="public/img/VitalSpaceLogo-2016.svg")
    nav.main-menu.mobile-hide(ng-show='getUser()')
      ul.menu
        li(ng-class="{selected:isSelected('dashboard')}")
          a(href='/')
            span Dashboard
        li(ng-class="{selected:isSelected(['cases', 'case'])}")
          a(ui-sref='cases')
            span Cases
        li(ng-class="{selected:isSelected('setup')}", ng-show="checkRoles(['admin', 'superadmin'])")
          a(ui-sref='setup')
            span Setup
    .user.mobile-hide
      a(href='/api/logout', target='_self') {{getUser().displayName || getUser().local.email}} 
        img.logo(src="public/img/icons/logout.svg")
    button#click-me.lines-button.x2.desktop-hide(type='button', role='button', aria-label='Toggle Navigation', ng-show='getUser()', ng-click='mobileMenuOut=!mobileMenuOut; $event.stopPropagation()')
      span.lines
    