.case
  h1 Case 
    span.address - {{property.item.displayAddress}}
    span.right {{property.item.offer.Value}}
  progression(ng-repeat='progression in property.item.$case.item.progressions', data='progression')
  button.has-dropdown(ng-focus='progBtnFocussed=true', ng-blur='hideDropdown("progBtnFocussed")') Add Progression
  ul.dropdown(ng-show='progBtnFocussed')
    li(ng-repeat='progression in progressions.items')
      a(href='', ng-click='addProgression(progression)') {{progression.name}}, {{progression.side}}
  h2 Chain
  button.view-chain View Chain
  .contacts.row
    contact-details(title="Vendor's Solicitor")
    contact-details(title="Vendor's Contact")
    contact-details(title="Purchaser's Solicitor")
    contact-details(title="Purchaser's Contact")
  .case-notes
    h2.orange Case Notes
    .case-note(ng-repeat='note in getNotes() | orderBy:"date"')
      .date {{note.date | date:'mediumDate'}}, {{note.date | date:'shortTime'}} | {{note.user.displayName || note.user.local.email}}
      .note 
        .details
          span(ng-show='note.side') - {{note.side}}
          p {{note.text}}
    .add-note
        textarea(ng-model='note', placeholder='Add a note...')
        button(ng-click='addNote()') Add Note