.invited
  h1 you've been invited
  form(name='inviteForm', ng-submit='acceptInvite()')
    label Display Name
    input(type='text', ng-model='newUser.displayName')
    label Telephone Number
    nput(type='text', ng-model='newUser.telephone')
    label Choose a password
    input(type='password', ng-model='newUser.password')
    label Repeat password
    input(type='password', ng-model='newUser.repeatPassword')
    .controls
      input(type='submit', value='OK')