.mobile-menu(ng-click='mobileMenuOut=false')
  nav(ng-show='getUser() && mobileMenuOut')
    ul.menu
      li(ng-class="{selected:isSelected('dashboard')}")
        a(href='/')
          span Dashboard
      li(ng-class="{selected:isSelected(['cases', 'case'])}")
        a(ui-sref='cases')
          span Cases
      li(ng-class="{selected:isSelected('setup')}")
        a(ui-sref='setup')
          span Setup