.mobile-menu(ng-click='mobileMenuOut=false')
  nav(ng-show='auth.getUser()')
    ul.menu
      li(ng-class="{selected:state('dashboard')}")
        a(href='dashboard')
          span Dashboard
      li(ng-class="{selected:state(['cases', 'case'])}")
        a(ui-sref='cases')
          span Cases
      li(ng-class="{selected:state('agreed')}")
        a(ui-sref='agreed')
          span Agreed
      li(ng-class="{selected:state('solicitors')}", ng-show="auth.checkRoles(['admin', 'superadmin', 'agency'])")
        a(ui-sref='solicitors')
          span Solicitors
      li(ng-class="{selected:state('setup')}", ng-show="auth.checkRoles(['admin', 'superadmin'])")
        a(ui-sref='setup')
          span Setup
      li
        a(href='/api/logout', target='_self') 
          img.logo(src="public/img/icons/logout.svg")
          |  Logout