.dashboard(ng-show='getUser()')
  h1 dashboard
  .overview
    .heading Overview of Live Cases
    table
      thead
        tr
          th.status Status
          th.position Sale Position
      tbody
        tr
          td.status Pre Survey
          td.position 24
      tbody.blank
        tr
          td(colspan='2') &nbsp;
      tbody.total
        tr
          td.status Total
          td.position 62
  .income
    .heading &pound; Income
    table
      thead
        tr
          th.month Month
          th.due Exchanges due
          th.completions Completions
      tbody
        tr
          td.month March
          td.due 13
          td.completions 13
      tbody.blank
        tr
          td(colspan='3') &nbsp;
      tbody.total
        tr
          td.month.total Total
          td.due.total 62
          td.completions.total