.dashboard 
  h1 Dashboard
  table.table.table-responsive.overview
    thead
      tr
        th(colspan='2') Overview of live cases
    tbody
      tr.head-two
        td Status
        td Sale Position
      tr
        td Pre Survey
        td
      tr
        td Post Survey
        td
      tr
        td Exchange
        td
      tr.total
        td Total
        td
  table.table.table-responsive.income
    thead
      tr
        th(colspan='3') 
          i.fa.fa-gbp(aria-hidden='true')
          |  Income
    tbody
      tr.head-two
        td Month
        td Exchanges Due
        td Completions
        td Income
      tr
        td March
        td
        td
        td
      tr
        td April
        td
        td
        td
      tr
        td May
        td
        td
      tr.total
        td Total
        td
        td
        td