.dashboard 
  h1 Dashboard
  table.table.table-responsive.overview
    thead
      tr
        th(colspan='2') Overview of live cases
    tbody
      tr.head-two
        td Status
        td Sale Position
      tr(ng-repeat='di in items = (dashboard.items | filter:{type:"overview"})')
        td {{di.name}}
        td.clickable(ng-click='showInfo("count", di, month)') {{count(di)}}
      tr.total
        td Total
        td {{properties.total}}
  table.table.table-responsive.income
    thead
      tr
        th(colspan='4') 
          i.fa.fa-gbp(aria-hidden='true')
          |  Income
    tbody
      tr.head-two
        td Month
        td(ng-repeat='di in dashboard.items | filter:{type:"income"}') {{di.name}}
      tr(ng-repeat='month in months')
        td {{month.name}}
        td.clickable(ng-repeat='di in dashboard.items | filter:{type:"income"}', ng-click='showInfo("income", di, month)')
          | {{income(di, month)}}
      tr.total
        td Total
        td.clickable(ng-repeat='di in dashboard.items | filter:{type:"income"}', ng-click='showInfo("income", di, allmonths)') 
          | {{income(di, allmonths)}}