.progression-buyer
  h1 Progression buyer
  .progression
    canvas
    progression-item(title='Start')
    progression-item(title='Receive Instruction')
    progression-item(title='Draft Contract')
    .branch
      progression-item(title='Enquiries')
      progression-item(title='Searches1')
    progression-item(title='Mortgage Offer')
    progression-item(title='Report to Client')
    progression-item(title='Pre Exchange')
    progression-item(title='Exchange Contracts')
    progression-item(title='Pre Completion')
    .branch
      progression-item(title='Mortgage Funds')
      progression-item(title='Searches2')
    progression-item(title='Completion')
    progression-item(title='Post Completion')