.modal.dashboard-income
  .row
    h1 {{data.di.name}}
    input(type='text', ng-model='search')
  table.table.table-responsive
    tbody(ng-repeat='property in list = (data.list | filter:{displayAddress:search}) | limitTo:limit:limit*(page-1)')
      td
        a.address(href='', ng-click='go(property)') {{property.displayAddress}}
      td.squish(ng-show='data.di.sumtype==="Income"')
        div(ng-show='property.Fees[0].FeeValueType.SystemName==="Percentage"') &pound;{{ Math.floor(property.$case.item.offer.Value * (property.Fees[0].DefaultValue / 100)) }}
        div(ng-show='property.Fees[0].FeeValueType.SystemName==="Absolute"') &pound;{{property.Fees[0].DefaultValue}}
  pagination.pagination-sm.pagination(total='list.length', ng-model='page', page-size='limit', page-change='pageChange', show-first-last='true')
  a.close-reveal-modal(ng-click='cancel()') &times;