.case
  h1 case
  .address 3 Gleneagles Road, Flixton, Manchester, M41 9TG
  progression-buyer
  progression-seller
  a.button.view-chain View Chain
  .contacts
    contact-details
    contact-details
    contact-details
    contact-details
  .case-notes
    .heading Case Notes
    table
      thead
        tr
          td.date 18-01-17
          td.notes Case created.  Documents sent to all parties
    .add-note
      form(ng-submit='addNote()')
        textarea
        a.button +