.case
  h1 case
  .address {{getProperty().Address.Number}} {{getProperty().Address.Street }}, {{getProperty().Address.Locality }}, {{getProperty().Address.Town}}
  progression-buyer(property='getProperty()')
  progression-seller(property='getProperty()')
  a.button.view-chain View Chain
  .contacts.row
    contact-details(title="Vendor's Solicitor")
    contact-details(title="Vendor's Contact")
    contact-details(title="Purchaser's Solicitor")
    contact-details(title="Purchaser's Contact")
  .case-notes
    .heading Case Notes
    table
      tbody(ng-repeat='note in getNotes() | orderBy:"date"')
        tr
          td.date {{note.date | date:'mediumDate'}}
          td.note 
            h6 {{note.item}} {{note.side}}
            p {{note.text}}
    .add-note
        textarea(ng-model='note')
        button(ng-click='addNote()') +
  date-swiper(config='config')