.case
  h1 case
  .address {{getProperty().Address.Number}} {{getProperty().Address.Street }}, {{getProperty().Address.Locality }}, {{getProperty().Address.Town}}
  progression(ng-repeat='progression in getProperty().case.progressions', data='progression')
  button.has-dropdown(ng-focus='progBtnFocussed=true', ng-blur='hideDropdown("progBtnFocussed")') Add Progression
  ul.dropdown(ng-show='progBtnFocussed')
    li(ng-repeat='progression in getProgressions()')
      a(href='', ng-click='addProgression(progression)') {{progression.name}}, {{progression.side}}
  h2 Chain
  button.view-chain View Chain
  .contacts.row
    contact-details(title="Vendor's Solicitor")
    contact-details(title="Vendor's Contact")
    contact-details(title="Purchaser's Solicitor")
    contact-details(title="Purchaser's Contact")
  .case-notes
    .heading Case Notes
    .case-note(ng-repeat='note in getNotes() | orderBy:"date"')
      .date {{note.date | date:'mediumDate'}}, {{note.date | date:'shortTime'}}
      .note 
        .details
          h6 {{note.item}} 
            span(ng-show='note.side') - {{note.side}}
          h6 {{note.user.displayName || note.user.local.email}}
        p {{note.text}}
    .add-note
        textarea(ng-model='note', placeholder='Add a note...')
        button(ng-click='addNote()') +