.cases
  h1 cases
  .controls
    .left
      .sort Order By:
        a.order-item(href='', ng-click='sort="-$case.item.modifiedAt"', ng-class='{selected:sort==="-LastUpdated"}') Last updated
        a.order-item(href='', ng-click='sort="-$case.item.offer.DateTime"', ng-class='{selected:sort==="-$case.item.offer.DateTime"}') Offer accepted date
      .show Show:
        a.filter-item.icon-green(href='', ng-click='filter="completed"', ng-class='{selected:filter==="completed"}') Up-to-date
        a.filter-item.icon-red(href='', ng-click='filter="progressing"', ng-class='{selected:filter==="progressing"}') Needs updating
        a.filter-item(href='', ng-click='filter=""', ng-class='{selected:!filter}') All
    .right
      .search
        input(type='text', ng-model='search')
      .showing Showing {{filterData.length}} of {{totalProps = properties.items.length}} case{{totalProps!==1?'s':''}}
  table.table.table-responsive.small-mobile-hide(ng-show='filterData.length > 0')
    thead
      tr
        th(width='1%') Milestone Status
        th Property Address
        th Vendor
        th Purchaser
        th(width='1%') Options
    tbody(ng-repeat='property in filterData =(properties.items | filter:{"search":search} | filter:{"milestoneStatus":filter}  | orderBy:sort) | limitTo:limit:limit*(page-1)')
      tr(ng-click='property.open = !property.open')
        td
          .milestone(ng-class='property.cssMilestone')
            .icon
            .title {{property.milestone.title}}
        td
          .address {{property.displayAddress}}
          .dates(ng-show='property.open')
            .date Last Updated: 
              strong {{property.$case.item.modifiedAt | timeAgo}} 
              | -- {{property.$case.item.modifiedAt | date:'mediumDate'}}, {{property.$case.item.modifiedAt | date:'shortTime'}}
            .date Date added to the Case: 1 week ago
            .date(ng-show='property.startDateBuyer') Start Date: {{property.startDateBuyer | date:'mediumDate'}}
        td.vendor {{property.$case.item.vendor}}
        td.purchaser {{property.$case.item.purchaser}}
        td.options
          a.button(ui-sref='case({roleId:property.RoleId})') View Case
  .mobile-table.small-mobile-show
    .case-card(ng-repeat='property in filterData | limitTo:limit:limit*(page-1)')
      .milestone(ng-class='property.cssMilestone', title='{{property.milestone.title}}')
        .icon
        .title {{property.milestone.title}}
      .address-row
        .address {{property.displayAddress}}
        .vendor Vendor: 
          strong {{property.$case.item.vendor}}
        .purchaser Purchaser: 
          strong {{property.$case.item.purchaser}}
        .options
          a.button(ui-sref='case({roleId:property.RoleId})') View Case
  pagination.pagination-sm.pagination(total='filterData.length', ng-model='page', page-size='limit', page-change='pageChange', show-first-last='true')
  .nothing-to-show(ng-show='filterData.length===0')
    h3 Nothing to show
  