.cases
  h1 cases
  .controls
    .left
      .sort Order By:
        a.order-item(href='', ng-click='sort="-LastUpdated"', ng-class='{selected:sort==="-LastUpdated"}') Last updated
        a.order-item(href='', ng-click='sort="-case.offer.DateTime"', ng-class='{selected:sort==="-case.offer.DateTime"}') Offer accepted date
      .show Show:
        a.filter-item.icon-green(href='', ng-click='filter="completed"', ng-class='{selected:filter==="completed"}') Up-to-date
        a.filter-item.icon-red(href='', ng-click='filter="progressing"', ng-class='{selected:filter==="progressing"}') Needs updating
        a.filter-item(href='', ng-click='filter=""', ng-class='{selected:!filter}') All
    .right
      .search
        input(type='text', ng-model='search')
      .showing Showing {{filterData.length}} of {{totalProps = getProperties().length}} case{{totalProps!==1?'s':''}}
  table.table.table-responsive(ng-show='filterData.length > 0')
    thead
      tr
        th(width='1%') Milestone Status
        th Property Address
        th Vendor
        th Purchaser
        th(width='1%') Options
    tbody(ng-repeat='property in filterData =(getProperties() | filter:search | filter:{milestoneBuyerStatus:filter} | orderBy:sort) | limitTo:limit:limit*(page-1)')
      tr(ng-click='property.open = !property.open')
        td.milestone
          .progression-item(ng-class='property.cssMilestoneBuyer', title='{{property.milestoneBuyer.title}}')
            .icon
            .title {{property.milestoneBuyer.title}}
        td
          .address {{property.Address.Number}} {{property.Address.Street }}, {{property.Address.Locality }}, {{property.Address.Town}}
          .dates(ng-show='property.open')
            .date Last Updated: 
              strong {{property.LastUpdated | timeAgo}} 
              | -- {{property.LastUpdated | date:'mediumDate'}}, {{property.LastUpdated | date:'shortTime'}}
            .date Date added to the Case: 1 week ago
            .date(ng-show='property.startDateBuyer') Start Date: {{property.startDateBuyer | date:'mediumDate'}}
        td.vendor {{property.case.vendor}}
        td.purchaser {{property.case.purchaser}}
        td.options
          a.button(href='{{property.RoleId}}/case') View Case
  .pagination-holder(ng-show='filterData.length > limit')
    uib-pagination.pagination-sm.pagination(total-items='filterData.length', ng-model='page', previous-text='<', next-text='>', items-per-page='{{limit}}')
  .nothing-to-show(ng-show='filterData.length===0')
    h3 Nothing to show
  