.case
  h1 case
  .address {{getProperty().Address.Number}} {{getProperty().Address.Street }}, {{getProperty().Address.Locality }}, {{getProperty().Address.Town}}
  progression-buyer
  progression-seller
  a.button.view-chain View Chain
  .contacts.row
    contact-details(title="Vendor's Solicitor")
    contact-details(title="Vendor's Contact")
    contact-details(title="Purchaser's Solicitor")
    contact-details(title="Purchaser's Contact")
  .case-notes
    .heading Case Notes
    .case-note(ng-repeat='note in getNotes() | orderBy:"date"')
      .date {{note.date | date:'mediumDate'}}, {{note.date | date:'shortTime'}}
      .note 
        .details
          h6 {{note.item}} {{note.side}}
          h6 {{note.user.displayName || note.user.local.email}}
        p {{note.text}}
    .add-note
        textarea(ng-model='note')
        button(ng-click='addNote()') +
  date-swiper(config='config')