.progression-seller
  h1 Progression seller
  .progression
    canvas
    progression-item(title='Start')
    progression-item(title='Instructed')
    progression-item(title='TA Forms')
    progression-item(title='Deeds')
    progression-item(title='Draft Contract')
    progression-item(title='Enquiries')
    progression-item(title='Pre Exchange')
    progression-item(title='Exchange Contracts')
    progression-item(title='Pre Completion')
    progression-item(title='Completion')
    progression-item(title='Post Completion')
    